// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
.site-header-desktop {
    background-color: $body-bg;
}

.course-tabs-navigation .nav a:not(.active):hover {
    background-color: transparent !important;
    border-bottom: 2px solid $brand !important;
}

.nav-underline-tabs .nav-link:hover {
    color: $black;
}

.btn-outline-primary:hover {
    color: $black !important;
    background-color: $brand !important;
    border-color: $brand !important;
}

.dropdown-menu {
    background-color: $bg-lt;
    border: 1px solid $lines;
}

.dropdown-item {
    color: #FFF;
}

.alert-info {
    background-color: $bg-lt;
    border-color: $lines;
}

.alert-heading {
    color: $black;
}

.card, .collapsible-card, .collapsible-card-lg {
    background-color: $bg-lt;
}

.collapsible-card, .collapsible-card-lg {
    border-radius: 10px;
}

.collapsible-card-lg .collapsible-trigger {
    border-color: $lines;
    border-bottom: none;
}

.course-tabs-navigation {
    border-bottom: solid 1px $lines;
}

.page-content-container {
    border: 1px solid $lines;
}

.bookmarks-empty {
    border: 1px solid $lines;
    background-color: $bg-lt;
}

.footer {
    background-color: $body-bg !important;
}