// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/edx/paragon/blob/master/scss/core/ for reference

$body-bg: #141A2A;
$body-color: #FFF;

$brand: #2584FE;
$primary: $brand;
$link-color: $brand;

$bg-lt: #25314B;
$lines: #515B72;